<!DOCTYPE html>

    <%- include('head') %>

    <body class='container'>

        <%- include('header') %> 

        <main>
            <div class='jumbotron'>
                <h1>Sobre mim</h1>
                <p>Olá! Sou Maria Júlia e estou aprendendo sobre o NodeEJS</p>
            </div>
        </main>

        <%- include('footer') %> 

    </body>

</html>